<h1>Books</h1>

<!--userのbook一覧-->
<%# @user.book.each do |book| %>
  <table>
    <tr>
      <th></th>
      <th>title</th>
      <th>opinion</th>
    </tr>
    <tr>
      <td><%= image_tag @user.get_profile_image(80,80) %></td>
      <td></td>
      <td></td>
    </tr>
  </table>
<%# end %>

